.auth-form {
    display: flex;
    margin: 100px auto;
    flex-direction: column;
    max-width: 300px;
}

.form-element {
    margin: 5px auto;
    display: block;
    border: .5px solid #999999;
    border-radius: 3px;
    text-align: center;
}

/*label {*/
    /*text-align: center;*/
/*}*/