
.form {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;
    align-self: center;
    flex-shrink: 0;
}

.form--orientation-horizontal {
    flex-direction: row;
}

.form__input {
    display: block;
    background-color: #ffffff;
    color: #332;
    height: 25px;
    padding: 0;
    border: .5px solid #6E7BFF;
    border-radius: 1.5px;
    margin: 5px 3px;
    text-align: center;
}

.form__input:focus {
    background: rgba(161, 198, 255, .15);
}

.form__input--type-submit {
    box-sizing: content-box;
    display: block;
    border: 0;
    padding: 1px 5px;
    -moz-box-sizing: content-box;
    background-color: #6BA1FF;
}

.form__input--type-submit:hover {
    background-color: rgba(107, 161, 255, .9);
}

.form__input--type-submit:focus {
    background-color: #6BA1FF;
}
